In [ ]:

리스트와 시리즈의 차이

- 리스트는 value만 구성
- 시리즈는 index + value로 구성
index 미지정시 0,1,2,3,....으로 자동 생성

In [12]:
import pandas as pd

from pandas import Series, DataFrame
import numpy as np

sp_list = [100,200,300,400,500]
sp_series = pd.Series([101,202,303,404,505])

sp_series_addseries = pd.Series([101,202,303,404,505], index= ['첫번째', '두번째', '세번째', '네번째', '5'])



print(sp_list)
print()
print(sp_series)
print()
print(type(sp_list))
print()
print(type(sp_series))
print("=="*50)
print(sp_list[2])
print()
print(sp_series[2])



print()
print()



print(sp_series_addseries)

print()
print()
print()

#########################

# index 부여
sp_series.index = ['첫번째', '두번째', '세번째', '네번째', '5']

print(sp_series)




#################################

sdata = {"kim":"dong ryl", "shin":"dongjun", "star":"bucks"}

sdata_series = Series(sdata)
print(sdata_series)

[100, 200, 300, 400, 500]

0    101
1    202
2    303
3    404
4    505
dtype: int64

<class 'list'>

<class 'pandas.core.series.Series'>
====================================================================================================
300

303


첫번째    101
두번째    202
세번째    303
네번째    404
5      505
dtype: int64



첫번째    101
두번째    202
세번째    303
네번째    404
5      505
dtype: int64
kim     dong ryl
shin     dongjun
star       bucks
dtype: object

In [17]:
# Series는 1차원 배열 형태이다.

sp_list = [100,200,300,400,500]
sp_series = pd.Series(sp_list, index = ['a','b','c','d','e'])
print(sp_series)
sp_dict = {
    'a' : [100,200,300,400,500],
    'b' : [80,20,30,100,100]
}

sp_series = pd.Series(sp_dict)
print(sp_series)


#출력해보니 타입은 오브젝트이다.
print(sp_series['a'])
print(sp_series[0])

a    100
b    200
c    300
d    400
e    500
dtype: int64
a    [100, 200, 300, 400, 500]
b       [80, 20, 30, 100, 100]
dtype: object
[100, 200, 300, 400, 500]
[100, 200, 300, 400, 500]

In [84]:
# 인덱스를 추가해서 Series를 생성
sp_list = [100,200,300,400,500]
sp_series = pd.Series(sp_list, index = ['a','b','c','d','e'])

# -- index 및 value 조회
print(" index  :   " , sp_series.index)
print(" values :   " , sp_series.values)
print()
print("="*100)
print()

for i in sp_series.index:
    print("Index : " + i + "    value  :  " + str(sp_series[i]))
                                                # i = a, b, c, d, e
                                                # 여기서 str안쓰면 에러남.
                                                # TypeError : can only concatenate str (not "numpy.int64") to str
print(sp_series['a'])

 index  :    Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
 values :    [100 200 300 400 500]

====================================================================================================

Index : a    value  :  100
Index : b    value  :  200
Index : c    value  :  300
Index : d    value  :  400
Index : e    value  :  500
100

In [39]:

from pandas import Series, DataFrame
import numpy as np
sp_list = [100,200,300,400,500]
sp_series = pd.Series(sp_list, index = ['a','b','c','d','e'])

#print(sp_series)

print("c" in sp_series)
# 값이 존재 = True, 없음 = False

print(sp_series *2)
# 값들에 두배를 함

#value 조건 추출
print("-"*50)
print()
print(sp_series[sp_series.values >= 300])
print()

print("-"*50)
print()
print(sp_series[sp_series.values < 300])
print()

print("-"*50)
print()
print(sp_series[sp_series.values != 300])
print()


# 300이라는 값이 있냐 없냐
print(300 in sp_series.values)

True
a     200
b     400
c     600
d     800
e    1000
dtype: int64
--------------------------------------------------

c    300
d    400
e    500
dtype: int64

--------------------------------------------------

a    100
b    200
dtype: int64

--------------------------------------------------

a    100
b    200
d    400
e    500
dtype: int64

True

In [42]:
# -- 시리즈 이름 변경 및 속성 조회
sp_series.name = "stock_price"
print()
print("Series : ", sp_series)
print()
print("index : ", sp_series.index)
print()
print("values : ", sp_series.values)
print()
print("Shape : ", sp_series.shape)
print()
print("Size : ", sp_series.size)
print()
print("Ndim : ", sp_series.ndim)
#shape = 1차원

Series :  a    100
b    200
c    300
d    400
e    500
Name: stock_price, dtype: int64

index :  Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

values :  [100 200 300 400 500]

Shape :  (5,)

Size :  5

Ndim :  1

In [44]:
# 인덱싱

print(sp_series[["a","c"]])

a    100
c    300
Name: stock_price, dtype: int64

In [47]:
# -- 시리즈 value 개수 출력
print (sp_series.count())
print (len(sp_series))

sp_test = pd.Series([101,202,303,404,None], index= ['첫번째', '두번째', '세번째', '네번째', '5'])

print(len(sp_test))
print (sp_test.count())

5
5
5
4

In [48]:
# -- at : 인덱스로 찾기 (value only 추출)

print (sp_series.at["a"])
print (sp_series.iat[0])
# i는 인덱스가 있어도 인덱스 번호를 기준으로 찾아간다. 
# 즉, 0,1,2,3,4 순으로 그냥 간다.
print (sp_series.iat[1])

#그렇다 하고 넘어가셈

100

In [50]:
# 얘를 많이 씀
# -- loc : 인덱스 범위 찾기 (index + value 추출)
print (sp_series.loc["a":"c"])
# a에서 c까지 추출
print (sp_series.iloc[1:3])
# 1,2번째 값 추출
# i는 인덱스 숫자들을 추출하는것임. 네이밍이랑은 상관이 없음

print(sp_series.iloc[:])

a    100
b    200
c    300
Name: stock_price, dtype: int64
b    200
c    300
Name: stock_price, dtype: int64
a    100
b    200
c    300
d    400
e    500
Name: stock_price, dtype: int64

In [83]:
# 인덱스 찾기

print (sp_series.iloc[0])
print (sp_series.loc["b"])

print (sp_series.iloc[[0,3]])
print (sp_series.loc[["a","c"]])

print (sp_series.iloc[0:3])
print (sp_series.loc["a":"c"])

100
<class 'numpy.int64'>
200
a    100
d    400
Name: stock_price, dtype: int64
a    100
c    300
Name: stock_price, dtype: int64
a    100
b    200
c    300
Name: stock_price, dtype: int64
a    100
b    200
c    300
Name: stock_price, dtype: int64

In [66]:

# Series의 값을 모두 list로 출력하세요.
# 카페 조별 게시판에 작성해서 올리기
print(sp_series)
print("*"*20)

print(sp_series.values)
print(type(sp_series.values))

#######
# 클래스가 numpy.ndarray 식으로 출력된다.
#######




print()
print("="*50)
print()

### List타입으로 출력 ###

print([i for i in sp_series.values])
print(type([i for i in sp_series.values]))

a    100
b    200
c    300
d    400
e    500
Name: stock_price, dtype: int64
********************
[100 200 300 400 500]
<class 'numpy.ndarray'>

==================================================

[100, 200, 300, 400, 500]
<class 'list'>

In [78]:
# 사전을 시리즈로 변경
sdic = {"서울":1000, "대구":2000, "광주":3000}
print(sdic)
srs1 = pd.Series(sdic)
print(srs1)
print("="*50)

# -- 리스트를 통해서 시리즈로 변경
states = ["미국", "서울", "광주"]
srs2 = pd.Series(sdic, index = states)
print(srs2)

{'서울': 1000, '대구': 2000, '광주': 3000}
서울    1000
대구    2000
광주    3000
dtype: int64
==================================================
미국       NaN
서울    1000.0
광주    3000.0
dtype: float64

In [79]:

# -- null 확인
print (srs2.isnull())
print("="*50)
print(srs2.notnull())

미국     True
서울    False
광주    False
dtype: bool
==================================================
미국    False
서울     True
광주     True
dtype: bool

In [80]:
# -- 시리즈 연산

print(srs1)
print(srs2)
print()
print("srs1 + srs2")
print(srs1 + srs2)
print()
print("="*50)
print()
print("srs1 - srs2")
print(srs1-srs2)
print()
print("="*50)
print()
print("srs1 * srs2")
print(srs1 * srs2)
print()
print("="*50)
print()
print("srs1 / srs2")
print(srs1 / srs2)
print()
print("="*50)
print()
print("srs1 * 2 - srs2 * 3")
print(srs1 * 2 - srs2 * 3)

서울    1000
대구    2000
광주    3000
dtype: int64
미국       NaN
서울    1000.0
광주    3000.0
dtype: float64

srs1 + srs2
광주    6000.0
대구       NaN
미국       NaN
서울    2000.0
dtype: float64

==================================================

srs1 - srs2
광주    0.0
대구    NaN
미국    NaN
서울    0.0
dtype: float64

==================================================

srs1 * srs2
광주    9000000.0
대구          NaN
미국          NaN
서울    1000000.0
dtype: float64

==================================================

srs1 / srs2
광주    1.0
대구    NaN
미국    NaN
서울    1.0
dtype: float64

==================================================

srs1 * 2 - srs2 * 3
광주   -3000.0
대구       NaN
미국       NaN
서울   -1000.0
dtype: float64

In [81]:
# -- NaN 처리
print(srs2)
srs3 = srs2
srs3 = srs3.fillna(0)
print(srs3)

미국       NaN
서울    1000.0
광주    3000.0
dtype: float64
미국       0.0
서울    1000.0
광주    3000.0
dtype: float64

In [82]:
# -- NaN 처리
print(srs2)
srs4 = srs2
srs4 = srs4.dropna()
print(srs4)

미국       NaN
서울    1000.0
광주    3000.0
dtype: float64
서울    1000.0
광주    3000.0
dtype: float64