In [5]:
"""
    리스트 : [] 감싸고 쉼표로 요소를 구분
    
"""

a = [1,3,5,7,9]
print(a)
print(type(a))


#리스트의 첫번째 요소를 출력
print(a[0])
print(type(a[0]))


#뒤에서 첫번째 요소를 출력
print(a[-1])

#for문을 사용해서 출력
for e in a:
    print(e)

[1, 3, 5, 7, 9]
<class 'list'>
1
<class 'int'>
9
1
3
5
7
9

In [6]:
a = [1,2,3,['a','b','c']]
#마지막 요소 1차원 배열의 첫번째 값을 출력

print(a[-1][0])

a

In [11]:
#리스트끼리는 연산이 가능하다
a=[1,3,5,7,9]
a[0]+a[2]

6

In [13]:
#리스트의 슬라이싱
a[0:2]
print(a[0:2])

b="13579"
b[0:2]

[1, 3]

'13'

In [51]:
#다음 데이터를 for문으로 출력해보기
a = ['가','나','다',['라','마']]

#for e in a :
#print(a[e][e])
 
print(slice(a))



a = ['가', '나', '다', ['라', '마']]
for e in a:
    if type(e) == list:
        for p in e:
            print(p)
    else:
        print(e)
    
##정답
a = ['가','나','다',['라','마']]
for e in a:
    for j in e:
        print(j)

slice(None, ['가', '나', '다', ['라', '마']], None)
가
나
다
라
마
가
나
다
라
마

In [54]:

#리스트간의 + 연산은 리스트를 합치는 기능 (주의)
X = [10,20,30]
Y = [40,50,60]
print(X + Y)
xx = [10,20,30,[40,50]]
yy = [40,50,60,[70,80]]
print(xx + yy)

#리스트 * 는 반복하는 기능
print(X * 2)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, [40, 50], 40, 50, 60, [70, 80]]
[10, 20, 30, 10, 20, 30]

In [55]:
a = []
print(type(a))

<class 'list'>

In [83]:
# append() 리스트의 마지막에 데이터를 추가
a = list()
c = list()
print(type(a))
a.append(70)
print(a)
print(len(a))



for i in range(0,10):
    c.append(i)
    
print(c)

# for i in range(0,10):
#     b = a.append([i])
    

print(a.append(c))
    
    
print(a)


#강사님꺼

aa = list()
print(type(a))
aa.append(70)
aa.append([x for x in range (100)])
print(aa)
print(len(aa))

<class 'list'>
[70]
1
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
None
[70, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]
<class 'list'>
[70, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]]
2

In [84]:
# 데이터 수집을 했다면 데이터는 정렬이 되지 않을 것인데
# 이것을 정렬하는 것도 일종에 전처리에 해당이 된다.
x = [5,1,8,2,3]
#리스트의 오름차순
x.sort()
print(x)
#리스트의 내림차순
x.reverse()
print(x)

[1, 2, 3, 5, 8]
[8, 5, 3, 2, 1]

In [133]:
#문제) 한번 해보기
#'kosta' 각 단어를 배열로 저장한 후
#내림차순으로 정렬하기
"""
['k','o','s','t','a']
['a','k','o','s','t']
"""

kk = ['k','o','s','t','a']

kka = ".".join(kk)
print(kka)
#kka.split('.')
print(kka.split('.'))
c = kka.split('.')
print(c)
c.sort()
print(c)





kk.sort()
print(kk)



# print(kk[:2])
# k = list()
# k.append(['k','o','s','t','a'])
# k.sort()


# print(kka)
# ass = list()
# ass.append(kka)
# print(ass)
# ass.sort()
# print(ass)
# ass.reverse()
# print(ass)

k.o.s.t.a
['k', 'o', 's', 't', 'a']
['k', 'o', 's', 't', 'a']
['a', 'k', 'o', 's', 't']
['a', 'k', 'o', 's', 't']

In [134]:

y = ['k','o','s','t','a']
print(y[1])
#문자열의 인덱스 번호를 반환
print(y.index('o'))
#인덱스에 값을 추가할 때
y.insert(0,'my')
print(y)
x = y
print(x)
del x
#del = 객체를 삭제. 그래서 에러뜸.
print(x)

o
1
['my', 'k', 'o', 's', 't', 'a']
['my', 'k', 'o', 's', 't', 'a']

NameError: name 'x' is not defined

In [138]:
x = [5,1,8,9,2,3]
x.append(9)
print(x)
#첫번째 요소의 값부터 삭제한다
x.remove(9)
#이렇게 하면 처음 나오는 9를 삭제
print(x)
#두번째 요소의 값 삭제
x.remove(9)
print(x)

[5, 1, 8, 9, 2, 3, 9]
[5, 1, 8, 2, 3, 9]
[5, 1, 8, 2, 3]

In [143]:


# remove를 사용해서 홀수만 출력하시오.

list_ez =[1,2,3,4,5,6,7,8]

for e in list_ez:
    if(e%2==0):
        list_ez.remove(e)
        
print(list_ez)

[1, 3, 5, 7]

In [144]:
#pop method
#pop()은 리스트의 맨 마지막 요소를 돌려 주고 그 요소는 삭제하는 함수이다.

a = [0,2,3,2,1,4,6,5,7]
# pop() => from end of list
a.pop()
print(a)
# pop#index
a.pop(5)
print(a)

[0, 2, 3, 2, 1, 4, 6, 5]
[0, 2, 3, 2, 1, 6, 5]

In [161]:
list1 = [1,2,3,('cat','dog'),7]
#pop을 사용해서 고양이를 출력하거나 강아지를 출력

#print(list1.pop(3)[0])

# if((list1.pop(3)[0])=="cat"):
#     print("고양이")
# elif((list1.pop(3)[1])=="dog"):
#     print("강아지")
    
    

list1.pop(4)
print(list1[3][0])

cat

In [131]:
a = [0,2,3,2,1,4,6,5,7]
print(a.count(2))

#리스트확장(extend)
a = [1,2,3]
a.extend([4,5])
a

2

[1, 2, 3, 4, 5]

In [181]:
# 연습문제) 리스트로 옮기기
# n = 1 ~ n = 20 까지의 피보나치 수열 값을 리스트로 출력하시오.

p = list()
pp1 = list()
pp2 = list()
for e in range(0,20):
    p.append(e)
    
print(p)

pp1.append(1)
pp2.append(1)
print(pp1)
print(pp2[0])


# ## 3 ##
# pp1.append(pp2[0])
# print(pp1)

# ## 4 ##
# pp2.append(pp1[0]+pp1[1])
# print(pp2)

# ## 5 ##
# pp1.append(pp2[1])
# print(pp1)

# ## 6 ##
# pp2.append(pp1[1]+pp1[2])
# print(pp2)




for e in range(0,20):
    pp1.append(pp2[e])
    pp2.append(pp1[e]+pp1[e+1])

print(pp2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1]
1
[1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711]

In [ ]:
#<연습문제1> : ['인생은', '너무', '아름답다']의 리스트를 join을 사용해서 문자열로 출력하기

In [2]:
str = "하이 반가워요. 굿바이 고마워요 잘가요".split()
str

# 잘가요 만 출력
# 굿바이 고마워요 만 출력

# 잘가요 만 출력
str[-1]

# 굿바이 고마워요 만 출력
str[-3:-1]

['굿바이', '고마워요']

In [4]:
# 튜플 자료형
# 리스트는 대괄호 [ ] 로 감싸고 튜플은 소괄호 ( ) 로 감싼다.
# 리스트는 수정, 삭제가 되지만, 튜플은 수정,삭제가 안됨.

t1 = (1, 2, 'a', 'b')
t1[0] = "c"

TypeError: 'tuple' object does not support item assignment

In [5]:
# 튜플은 리스트와 거의 비슷
# 튜플은 소괄호 ( ) 사용, 자료의 변경 및 삭제가 불가능. 읽기전용

tp = ()
tp2 = tuple()
type(tp2)

tuple

In [11]:
# tuple에서는 데이터 하나만을 지정했을 때
# ,를 지정하지 않으면 int형이 된다.

tp3 = (5)
print(tp3)
print(type(tp3))


tp3 = (10,)
print(tp3)
print(type(tp3))

5
<class 'int'>
(10,)
<class 'tuple'>

In [14]:
# tuple은 소괄호를 생략 할 수 있다.
tp4 = 10,20
print(tp4)
print(type(tp4))

# 좋은 방법이 아니므로 미리 튜플을 선언해두자.

(10, 20)
<class 'tuple'>

In [16]:
# tuple 안에 tuple을 넣을 수 있다.
tp5 = (1,2,3,tp4)
print(tp5)

(1, 2, 3, (10, 20))

In [18]:
# tuple 안에 list도 넣을 수 있다.
tp6 = (1,2,3,[10,20,30])
print(tp6)
# tuple 원소 삭제 X
del tp5[1]

(1, 2, 3, [10, 20, 30])

TypeError: 'tuple' object doesn't support item deletion

In [19]:
# tuple의 데이터 추가하기
tp7 = (1,2,3,4,5,6,7)
tmpList = list(tp7)
type(tmpList)
tmpList.append(10)
print(tmpList)
tp7 = tuple(tmpList)
print(tp7)

[1, 2, 3, 4, 5, 6, 7, 10]
(1, 2, 3, 4, 5, 6, 7, 10)

In [22]:
# set 구조 : 중복을 허용하지 않고 순서가 무작위인 것이다.

# 집합 자료형
# 중복값을 허용하지 않음. 순서가 없음.

s1 = set([1,2,3])
print(s1)
s2 = set("Helloooooooo")
print(s2)

{1, 2, 3}
{'e', 'l', 'H', 'o'}

In [25]:
# set 자료형에 저장된 값을 인덱싱으로 접근하려면 다음과 같이 리스트나 튜플로 변환한 후 해야 한다.
s1 = set([1,2,3])
s1[0]

#순번이 없으므로 에~~러

TypeError: 'set' object does not support indexing

In [26]:


l1 = list(s1)
print(l1[0])
print("="*30)

1
==============================

In [98]:

# set 문제
# abracadabra 문자열이 있는데, 중복을 알아서 제거하고
#아래의 조건처럼
#문자열에서 a b c가 포함되지 않는 문자들을 출력하시오.
a11 = list()
a11 = "abracadabra"
s11 = set(a11)
print(s11)
a12 = list(s11)
print(a12)

a12.remove("a")
a12.remove("b")
a12.remove("c")

# 내가 실수한거
# for e in a12:
#     if(a12[e]=="a"):
#         a12.remove("a")
#     elif(a12[e]=="b"):
#         a12.remove("b")
#     elif(a12[e]=="c"):
#         a12.remove("c")
# keyword = set, for 
# 순번 : 문자열을 전부 list로 출력 -> set하면은 중복값들이 필터링 -> a,b,c만 제거하면 


    
print(a12)



str = '.'.join("abracadabra")
print(str)
str_set = set(str.split("."))
print(str_set)
for e in str_set:
    if e not in 'abc':
        print(e)

{'r', 'c', 'd', 'b', 'a'}
['r', 'c', 'd', 'b', 'a']
['r', 'd']
a.b.r.a.c.a.d.a.b.r.a
{'r', 'c', 'd', 'b', 'a'}
r
d

In [91]:
a = "HI"
a = a[0]+a[1].lower()
print(a)

Hi

In [124]:
#Comprehension 이란 iterable 한 오브젝트를 생성하기 위한 방법 중
# 하나로 파이썬에서 사용할 수 있는 유용한 기능중 하나이다.




#20까지의 짝수를 출력하기 위해 다음과 같은 LC를 사용할 수 있따.
events = [x * 2 for x in range(11)]
print(events)

#리시트의 모든 원소값을 더하는 LC
vals = [1,2,3,4,5,6,7,8,9,10]
total = sum(vals)
print(total)

nm = list()
for e in vals:
    nm.append((e/total)+1)
print(nm)

print("="*50)

ev = [(vals[e]/sum(vals))+1for e in range(10)]
print(ev)
print("="*50)
test = list()
for e in range(10):
    test.append((vals[e]/sum(vals))+1)

print(test)
        
print("="*50)
        
#setter (내가못한거)

a = { x for x in 'abracadabra' if x not in 'abc'}
print(a)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
55
[1.018181818181818, 1.0363636363636364, 1.0545454545454545, 1.0727272727272728, 1.0909090909090908, 1.1090909090909091, 1.1272727272727272, 1.1454545454545455, 1.1636363636363636, 1.1818181818181819]
==================================================
[1.018181818181818, 1.0363636363636364, 1.0545454545454545, 1.0727272727272728, 1.0909090909090908, 1.1090909090909091, 1.1272727272727272, 1.1454545454545455, 1.1636363636363636, 1.1818181818181819]
==================================================
[1.018181818181818, 1.0363636363636364, 1.0545454545454545, 1.0727272727272728, 1.0909090909090908, 1.1090909090909091, 1.1272727272727272, 1.1454545454545455, 1.1636363636363636, 1.1818181818181819]
==================================================
{'r', 'd'}

In [130]:
# 교집합 - &  intersection
# 합집합 - l union
# 차집합 - difference
#> 반드시 set구조여야 함

s1 = set([1,2,3,4,5,6])
s2 = set([3,4,5,6,7,8])

s3 = s1 & s2
print(s3)
s3 = s1.intersection(s2)
print(s3)

s3 = s1 | s2
print(s3)

s3 = s1.difference(s2)
print(s3)

{3, 4, 5, 6}
{3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2}