In [ ]:
#!pip install cx_Oracle

In [7]:
import cx_Oracle as ora
# id/pwd@host:1521/sid
conn = ora.connect("python3/test00@192.168.0.16:1521/xe")

conn.version

# 이걸 클래스나 함수로 만들어야 함.

'11.2.0.2.0'

In [6]:
# Oracle DB 접속한 객체를 얻어와야 한다. <- 이게 바로 커서이다.

cursor = conn.cursor( )
print(cursor)

<cx_Oracle.Cursor on <cx_Oracle.Connection to python3@192.168.0.16:1521/xe>>

In [11]:
#입력처리
writerv = input("작성자:")
pwdv = input("비밀번호를 입력:")
subjectv = input("제목:")
contentv = input("내용:")
#SQL문 작성
sql_insert = 'insert into board values(board_seq.nextVal,:pwd,:writer,:subject,:content,sysdate)'
print(type(sql_insert))
#print(sql_insert)
#입력받은 값과 Sql바인딩 처리
#execute(sql,bind)
cursor.execute(sql_insert,pwd=pwdv,writer=writerv,subject=subjectv,content=contentv)
conn.commit()

작성자:aa
비밀번호를 입력:a
제목:a
내용:a
<class 'str'>

In [12]:
fetchall()
- 전체 데이터 가지고오기
- 마이바티스에서는 select list로 생각하세요

In [20]:
conn = ora.connect("python3/test00@192.168.0.16:1521/xe")
cursor = conn.cursor( )
print(cursor)

sql_select = 'select no, writer, subject, content, regdate from board order by 1 desc'
print(type(sql_select))
cursor.execute(sql_select)
print(cursor.fetchall())
print()
print(type(cursor.fetchall()))
cursor.close()
conn.close()

<cx_Oracle.Cursor on <cx_Oracle.Connection to python3@192.168.0.16:1521/xe>>
<class 'str'>
[(9, 'ee', 'ee', 'ee', datetime.datetime(2019, 4, 10, 10, 42, 2)), (8, 'ww', 'www', 'ww', datetime.datetime(2019, 4, 10, 10, 41, 55)), (7, 'qq', 'qq', 'qq', datetime.datetime(2019, 4, 10, 10, 41, 44)), (6, 'test7', 'test7', 'test7', datetime.datetime(2019, 4, 10, 10, 38, 55)), (4, 'test3', 'test3', 'test3', datetime.datetime(2019, 4, 10, 10, 37, 8)), (3, 'test2', 'test2', 'test2', datetime.datetime(2019, 4, 10, 10, 36, 20)), (2, 'test1', 'test1', 'test1', datetime.datetime(2019, 4, 10, 10, 35, 12)), (1, 'test01', 'test1', 'test1', datetime.datetime(2019, 4, 10, 10, 34, 46))]

<class 'list'>

In [ ]:
findone() : mybatis에서 select_one()
플라스크(Flask) 웹 서비스일 경우 링크를 통해서 파라미터가 전달

In [30]:
nov = input("상세보기 값 : ")
sql_no = "select no, writer, subject, content, \
to_char(regdate, 'yyyy-mm-dd') regdate from board where no = :no"
cursor = conn.cursor()
cursor.execute(sql_no,no = nov)
print(cursor.fetchone())
cursor.close()

상세보기 값 : 1
(1, 'test01', 'test1', 'test1', '2019-04-10')

In [34]:

sql_no = "select subject from (select subject from board order by regdate) where rownum <=5"
cursor = conn.cursor()
cursor.execute(sql_no)
print(cursor.fetchall())
print(type(cursor.fetchall()))
cursor.close()

[('test1',), ('test1',), ('test2',), ('test3',), ('test7',)]
<class 'list'>

In [36]:

def top5():
    cursor = conn.cursor()
    sql_no = "select subject from (select subject from board order by regdate) where rownum <=5"
    cursor.execute(sql_no)
    return cursor.fetchall()

a = top5()

print(a)

[('test1',), ('test1',), ('test2',), ('test3',), ('test7',)]

In [4]:
import cx_Oracle as ora
def connections():
    try:
        conn = ora.connect("python3/test00@localhost:1521/xe")
    except Exception as e:
        conn = "예외발생"
        print(e)
        return
    return conn
def test():
    print(connections())
test()

# 예외 : ORA-12170: TNS:Connect timeout occurred / None

<cx_Oracle.Connection to python3@localhost:1521/xe>

In [10]:

def examSelect():
    conn = connections()
    print(conn)
    sql_select = 'select no,writer, content, regdate from \
    (select rownum, no, writer, content, regdate from \
    (select * from board order by 1 desc) where rownum <=5)'
    cursor = conn.cursor()
    cursor.execute(sql_select)
    rs = cursor.fetchall()
    #print(cursor.fetchall())
    #print(type(cursor.fetchall()))
    cursor.close()
    conn.close()
    return rs

selectlists = examSelect()
for e in selectlists:
    print(e)

<cx_Oracle.Connection to python3@localhost:1521/xe>
(9, 'ee', 'ee', datetime.datetime(2019, 4, 10, 10, 42, 2))
(8, 'ww', 'ww', datetime.datetime(2019, 4, 10, 10, 41, 55))
(7, 'qq', 'qq', datetime.datetime(2019, 4, 10, 10, 41, 44))
(6, 'test7', 'test7', datetime.datetime(2019, 4, 10, 10, 38, 55))
(4, 'test3', 'test3', datetime.datetime(2019, 4, 10, 10, 37, 8))

In [23]:
def myFetchmany():
    try:
        conn = connections()
        cursor = conn.cursor()
        sql_select = 'select * from board order by 1 desc'
        cursor.execute(sql_select)
        numRows = 5
        res = cursor.fetchmany(numRows = numRows)
        print('fetchmany {}'.format(numRows))
        cursor.close()
        conn.close()
        return res
    except Exception as e:
        conn = "예외발생"
        print(e)
        return
    return conn
print(myFetchmany())

fetchmany 5
[(9, 'ee', 'ee', 'ee', 'ee', datetime.datetime(2019, 4, 10, 10, 42, 2)), (8, 'ww', 'ww', 'www', 'ww', datetime.datetime(2019, 4, 10, 10, 41, 55)), (7, 'qq', 'qq', 'qq', 'qq', datetime.datetime(2019, 4, 10, 10, 41, 44)), (6, 'test7', 'test7', 'test7', 'test7', datetime.datetime(2019, 4, 10, 10, 38, 55)), (4, '123', 'test3', 'test3', 'test3', datetime.datetime(2019, 4, 10, 10, 37, 8))]

In [24]:
삭제
- insert, delete, update

NameError: name '삭제' is not defined

In [31]:
def boardDel(num):
    conn = connections()
    sql_delete = 'delete from board where no = :no'
    try:
        cursor = conn.cursor()
        cursor.execute(sql_delete, no=num)
        conn.commit()
    except Exception as e:
        print(e)
        
    finally:
        conn.close()

num = input('삭제번호 : ')
boardDel(num)
examSelect()

삭제번호 : 1
<cx_Oracle.Connection to python3@localhost:1521/xe>

[(9, 'ee', 'ee', datetime.datetime(2019, 4, 10, 10, 42, 2)),
 (8, 'ww', 'ww', datetime.datetime(2019, 4, 10, 10, 41, 55)),
 (7, 'qq', 'qq', datetime.datetime(2019, 4, 10, 10, 41, 44)),
 (6, 'test7', 'test7', datetime.datetime(2019, 4, 10, 10, 38, 55)),
 (3, 'test2', 'test2', datetime.datetime(2019, 4, 10, 10, 36, 20))]