In [5]:
import numpy as np

In [6]:
x = np.array([1, 2, 3])
x.dtype

# dtype : https://docs.scipy.org/doc/numpy/reference/c-api.dtype.html

dtype('int32')

In [7]:
x = np.array([1.0, 2.0, 3.0])
x.dtype

dtype('float64')

In [8]:
x = np.array([1, 2, 3.0])
x.dtype

dtype('float64')

In [9]:
x = np.array([1, 2, 3], dtype='f')
x.dtype

dtype('float32')

In [10]:
x[0] + x[1]

3.0

In [11]:
x = np.array([1, 2, 3], dtype='U')
x.dtype

dtype('<U1')

In [13]:
np.exp(-np.inf)

# 지수함수

0.0

In [18]:
a = np.zeros(5)
print(a)

b = np.zeros((2, 3))
b

[0. 0. 0. 0. 0.]

array([[0., 0., 0.],
       [0., 0., 0.]])

In [19]:
c = np.zeros((5, 2), dtype="i")
c

# dtype = int

array([[0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0]], dtype=int32)

In [26]:
d = np.zeros(5, dtype="U")
d
print(type(d))
print(type(d[0]))

<class 'numpy.ndarray'>
<class 'numpy.str_'>

In [28]:
d[0] = "abc"
d[1] = "abcd"
d[2] = "ABCDE"
d

array(['a', 'a', 'A', '', ''], dtype='<U1')

In [29]:
e = np.ones((2, 3, 4), dtype="i8")
e

array([[[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]],

       [[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]]], dtype=int64)

In [30]:
f = np.ones_like(b, dtype="f")
f


# b랑 같은 shape를 가진 ones를 가진 것
# b는 2,3짜리 배열이다. 그걸 1로 만들고싶다. 
#

array([[1., 1., 1.],
       [1., 1., 1.]], dtype=float32)

In [32]:
g = np.empty((4, 3))
g

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [33]:
np.empty([2, 2])

array([[ 1.03409011e-311,  6.12033286e+257],
       [ 5.88203343e+294, -3.80418854e-311]])

In [34]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [35]:
np.arange(3, 21, 2)  # 시작, 끝(포함하지 않음), 단계

array([ 3,  5,  7,  9, 11, 13, 15, 17, 19])

In [45]:
print(range(5))
print(type(range(5)))
# 클래스가 range이다.
# list로 교체하면?
print(list(range(5)))

print(list(range(5,10)))

print(list(range(5,10,2)))
# 두칸씩 건너띄기

print(list(range(10,5,-1)))

range(0, 5)
<class 'range'>
[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[5, 7, 9]
[10, 9, 8, 7, 6]

In [46]:
n = np.arange(10,15)
print(n)

n = np.arange(10,15,2)
print(n)

[10 11 12 13 14]
[10 12 14]

In [55]:
print(np.linspace(0, 100, 5))  # 시작, 끝(포함), 갯수

x = np.linspace(0,100,7)
print(x)

[  0.  25.  50.  75. 100.]
[  0.          16.66666667  33.33333333  50.          66.66666667
  83.33333333 100.        ]

In [58]:
print(np.logspace(0.1, 1, 10))

np.logspace(0.1, 10, 10)

[ 1.25892541  1.58489319  1.99526231  2.51188643  3.16227766  3.98107171
  5.01187234  6.30957344  7.94328235 10.        ]

array([1.25892541e+00, 1.58489319e+01, 1.99526231e+02, 2.51188643e+03,
       3.16227766e+04, 3.98107171e+05, 5.01187234e+06, 6.30957344e+07,
       7.94328235e+08, 1.00000000e+10])

In [61]:
x = np.logspace(0,3,5)
# 10의 0승부터 10의 3승까지.
print(x)

[   1.            5.62341325   31.6227766   177.827941   1000.        ]

In [ ]:
전치 연산
2차원 배열의 전치(transpose) 연산은 행과 열을 바꾸는 작업이다. 

이는 배열의 T 속성으로 구할 수 있다. 

메서드가 아닌 속성이라는 점에 유의 한다.

In [77]:
A = np.array([[1, 2, 3], [4, 5, 6]])
print(A.shape)
print(A)
A = A.T
print(A.shape)
print(A)


print("="*50)
A = zip(A[0],A[1])
print(list(A))


B = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(B)
B = B.T
print(B)

(2, 3)
[[1 2 3]
 [4 5 6]]
(3, 2)
[[1 4]
 [2 5]
 [3 6]]
==================================================
[(1, 2), (4, 5)]
[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[1 4 7]
 [2 5 8]
 [3 6 9]]

In [95]:
a = np.arange(12)
print(a)
a = a.reshape((3,4))
print(a)

a = a.reshape((3,-1))
print(a)
#3의 배수인건 아닌데 15인가 18인 끝자리는 모름. 그러면 이렇게 지정해주면 알아서 지정됨

aa = np.arange(17)
print(aa)
# aa = aa.reshape((3,-1))
# print(aa)

[ 0  1  2  3  4  5  6  7  8  9 10 11]
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16]

In [90]:
aa = aa.flatten()

print(aa)

[ 0  1  2  3  4  5  6  7  8  9 10 11]

In [96]:
a.ravel()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [97]:
print(type(a))
#얘는 ndarray 클래스이다
a.flatten

<class 'numpy.ndarray'>

In [98]:
x = np.arange(5)
x

array([0, 1, 2, 3, 4])

In [107]:

#1차원
x = np.arange(5)
print(x)
print(x.shape)



#2차원
x = x.reshape(1,5)
print(x)
print(x.shape)


x[:, np.newaxis]

[0 1 2 3 4]
(5,)
[[0 1 2 3 4]]
(1, 5)

array([[[0, 1, 2, 3, 4]]])

In [110]:
a1 = np.ones((2, 3))
a1
a2 = np.zeros((2, 2))
a2
np.hstack([a1, a2])

array([[1., 1., 1., 0., 0.],
       [1., 1., 1., 0., 0.]])

In [111]:
b1 = np.ones((2, 3))
b1
b2 = np.zeros((3, 3))
b2
np.vstack([b1, b2])

array([[1., 1., 1.],
       [1., 1., 1.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [116]:
c1 = np.ones((2, 2))
c1

c2 = np.zeros((2, 2))
c2
xx = np.dstack([c1, c2])
print(xx)
print(xx.shape)

[[[1. 0.]
  [1. 0.]]

 [[1. 0.]
  [1. 0.]]]
(2, 2, 2)

In [121]:
c1 = np.ones((4, 3))
c1

c2 = np.zeros((4, 3))
c2

xxx = np.stack([c1,c2],axis=0)
print(xxx.shape)

(2, 4, 3)

In [126]:
a = np.array([[0, 1, 2], [3, 4, 5]])
a = np.tile(a, 2)

In [128]:
print(a)
print(a.shape)

[[0 1 2 0 1 2]
 [3 4 5 3 4 5]]
(2, 6)

In [130]:

q = [1,2,3,4,5]
np.pad(q, (2,3), "constant", constant_values=(4,6))
# 앞에 4 4 뒤에 6 6 6 붙었다.

array([4, 4, 1, 2, 3, 4, 5, 6, 6, 6])

In [132]:


기억할만하나거

pad reshape tile stack